.sort-by-section {
  box-shadow: var(--section-box-shadow);
  border-radius: var(--section-border-radius);
  display: flex;
  align-items: center;
  padding: var(--section-padding);
  gap: 1rem;
  justify-content: space-between;

  & p {
    margin: 0;
    color: #686868;
  }
}

.sort-by-select {
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding-inline-start: 4px;
  width: 150px;
}

.default-select-option {
    color: #686868;
}