.search-bar {
  box-shadow: var(--section-box-shadow);
  border-radius: var(--section-border-radius);
  display: flex;
  align-items: center;
  padding: var(--section-padding);
  gap: 1rem;
}

.search-input {
  flex: 1;
  height: 36px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding-inline-start: 4px;
  cursor: text;
}

.search-button {
  min-height: 36px;
  border: none;
  background: var(--btn-gradient);
  color: white;
  border-radius: 4px;
  padding-inline: 8px;
  cursor: pointer;
  font-size: 12px;
  width: 80px;
}

.search-button:disabled {
  background: lightgray;
  cursor: not-allowed;
}