.filters {
  border-radius: var(--section-border-radius);
  height: max-content;
  padding: var(--section-padding);
  background-color: #f9f7ff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
}

.filters-title {
  margin: 0;
  font-weight: 600;
}

.base-filter {
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding-inline-start: 4px;
  width: max-content;
}

.filter-label {
  color: #686868;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & select {
    width: 100%;
  }
}

/* price input */
.price-range, .rating-filter, .stock-filter {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.price-inputs {
  display: flex;
  gap: 0.5rem;
}

.price-input {
  width: 50%;
}

/* Ratings & stock status */
.rating-select, .stock-select {
  width: 100%;
}

/* actions */
.filter-actions {
  display: flex;
  gap: 0.5rem;
}
.btn-apply, .btn-save {
  min-height: 36px;
  border: none;
  background: var(--btn-gradient);
  color: white;
  border-radius: 4px;
  padding-inline: 8px;
  cursor: pointer;
  font-size: 12px;
  width: 50%;
}

.btn-clear {
  min-height: 36px;
  border: 1px solid #6267e5;
  background-color: white;
  color: #6267e5;
  border-radius: 4px;
  padding-inline: 8px;
  cursor: pointer;
  font-size: 12px;
  width: 50%;
}

.btn-clear:disabled {
  border: 1px solid lightgray;
  color: white;
}

/* save filter */
.save-filter-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.save-input {
  width: 100%;
}

button.btn-save {
  min-height: 2rem;
  width: max-content;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
}

/* saved filters */
.no-filters-text {
  color: #686868;
  font-size: 12px;
}

.sub-title {
  font-weight: 600;
  margin: 0;
}

.filters-container {
  max-height: 200px;
  overflow-y: auto;
  margin-block-start: 8px;
  padding-inline: 0;
}

.saved-filter-item {
  cursor: pointer;
  font-size: 14px;
  margin: 4px;
  padding-inline: 4px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 4px 8px;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: #f0f0f0;
  }
}

.filters button:disabled {
  background: lightgray;
  cursor: not-allowed;
  color: rgb(150, 150, 150);
}

