:root {
  --section-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --section-border-radius: 8px;
  --section-padding: 1rem;
  --btn-gradient: linear-gradient(135deg, #6267e5 0%, #804ec7 100%);
}

#root {
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}
button:focus-visible {
  outline: 2px solid lightgray;
  outline-offset: 2px;
}

select:focus, input:focus {
  outline: 1px solid lightgray;
}

.App {
  height: 100%;
}